################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDDPractice/TDDPractice.UnitTests/obj
/TDDPractice/TDDPractice/obj
